body, html{
    background: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}

.big_wrapper{
    text-align: center;
}


h1, h2, h3, h4, p, ul{
    font-family: 'Ubuntu', sans-serif;
    color:rgb(90, 90, 90);
    font-weight:  bolder;
    line-height: 1.6rem;
    padding-right: 15px;
    padding-left: 15px;
}

h1{
    font-weight:  bolder;
    font-size: 1.5rem;
}

P{
    font-size: 0.75rem;
    color:rgb(160, 160, 160)
}

img{
    max-width: 200px;
    margin-top: 30px;
}

.img_icon{
    width: 50px;
    height: 50px;
}

.imgicon_footer{
    width: 50px;
    height: 50px;
}
.btn{
    display: flex;
    flex-direction: column;
}

button{
    color: white;
    font-size: 1rem;
    box-shadow: darkgrey;
}

.button_one, .button_two{
    align-self: center;
    border-radius: 30px;
    margin: 5px 10px 10px;
    width: 210px;
    height: 40px;
    color: white;
    background: rgb(14, 182, 194);
    border: none;
}

.button_two{
    background: rgb(83, 14, 194);
}


.wrapper_one, .wrapper_two, .wrapper_two, .wrapper_three .wrapper_four, .wrapper_five, .wrapper_six, .wrapper_seven{
    width: 80%;
    margin: 90px auto;
    padding-left: 20px;
    padding-right: 20px;
} 

.wrapper_one{
    margin: 30px auto;
}

.wrapper_three div, .wrapper_seven h1{
    padding-right: 20px;
    padding-left: 20px;
}

.wrapperThree_content div{
    margin-top: 50px;    
}

.wrapperThree_content p{
    margin-top: -1rem;
    margin-left: -2px;
}

.wrapper_four{
    margin: 90px auto;
}

.wrapper_four p{
    padding-left: 40px;
    margin-right: 40px;
}
.wrapper_five div, .wrapper_six div {
    margin: 40px 0px 0px;
}

footer{
    align-items: center;
    background: rgb(250, 249, 249);
    margin-bottom: 40px;
}

.footer_icons{
    display: flex;
    justify-content: center;
}

#social_icon{
    padding: 0px 10px 0px;  
}

@media only screen and (min-width:1024px){
   .wrapper_one, .wrapper_two, .wrapper_four, .wrapper_seven{
    max-width: 600px;
}

p{
    font-size: 0.85rem;
    margin-right: 15px;
    margin-left: 15px;
}

h1{
    font-size: 2rem;
}

button{
    font-size: 0.78rem;
}

.button_one, .button_two{
    width: 170px;
    height: 40px;
}

.button_two{
    background: rgb(83, 14, 194);
}

.wrapper_three{
    display: flex;
    justify-content: center;

}

.wrapperThree_content{
   margin-top: 20px;
}

.wrapperThree_content div{
    text-align: left;
    max-width: 400px;
}

.wrapper_three h3, p{
    padding-left: unset;
    padding-right: unset;
}

.wrapper_five, .wrapper_six, footer{
    display: flex;
    justify-content: space-evenly;
}

.wrapperFive_div{
    max-width:325px;
}

img{
    max-width: 600px;
    margin-left: 20px;
}

footer .footerText_wrapper{
    display: flex;
    text-align: left;
}
.imgicon_footer{
    width: 40px;
    height: 6vh;
    margin-right: 90px;
}

.footer_icons{
    margin-top: -25px;
}

}