.big_wrapper{
    text-align: center;
}

P{ 
   color: darkgray;
   font-size: 20px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(143, 143, 143);
    font-weight:  bolder;
    font-size: 25px;
}

h1, h2, h3, h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(151, 151, 151);
    font-weight:  bolder;
}

img{
    max-width: 250px;
}

.btn{
    display: flex;
    flex-direction: column;
}

button{
    color: white;
    font-size: 20px;
}
.button_one{
    align-self: center;
    padding: 10px;
    border-radius: 30px;
    margin: 20px 10px 10px;
    width: 230px;
    height: 50px;
    color: white;
    background: rgb(14, 182, 194);
    border: none;
}

.button_two{
    align-self: center;
    margin: 10px 10px 20px;
    padding: 10px;
    border-radius: 30px;
    width: 230px;
    height: 50px;
    color: white;
    background: rgb(83, 14, 194);
    border: none;
}

.wrapper_one{
    background-image: url(./images/bg-header-desktop.png);
    width: 80%;
    margin: 70px auto;
}

.img_icon{
    width: 50px;
    height: 50px;
    margin-top: 70px;
}

.wrapper_two{
    width: 80%;
    margin: 70px auto;
} 

.wrapper_three{
    width: 80%;
    margin: 70px auto;
}

.wrapper_four{
    width: 80%;
    margin: 70px auto;
}

.wrapper_five{
    width: 80%;
    margin: 70px auto;
}
.wrapper_five div {
    margin: 40px 0px 0px;
}

.wrapper_six{
    width: 80%;
    margin: 70px auto;
}

.wrapper_six div{
    margin: 40px 0px 0px;
}

.wrapper_seven{
    width: 80%;
    margin: 70px auto;
}

footer{
    background: rgb(248, 248, 248);
}

.footer_icons{
    padding-bottom: 30px;
}


@media only screen and (min-width:1024px){
.big_wrapper{
    text-align: center;
    margin: 0 auto;
}


h1{
    font-size: 35px;
}
    
h1, h2, h3, h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(80, 80, 80);
    font-weight:  bolder;
}
    
img{
    max-width: 600px;
}

.img_icon{
    width: 50px;
    height: 50px;
    margin-top: 40px;
}
    
.imgicon_footer{
    padding: 20px;
    width: 50px;
    height: 50px;
}
    
p{
    font-family: monospace;
    font-weight: bold;
    color: grey;
    font-size: 15px;
}
 
.wrapper_one{
    width: 80%;
    margin: 70 auto;
}
  
.wrapper_two{
    width: 80%;
    margin: 70 auto;
}

.wrapper_three{
    display: flex;
    width: 80%;
    margin: 70 auto;
}

.wrapperThree_content{
    
    margin: 20px 0px 60px 50px;
}

.wrapper_four{
    width: 80%;
    margin: 70 auto;
}

.wrapper_five{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 70 auto;
}

.wrapperFive_content{
    width: 400px;
    padding: 10px;
}

.wrapper_six{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 70 auto;
}

.wrapper_seven{
    width: 80%;
    margin: 70 auto;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 70 auto;
    padding: 20px;
}

.footer_icons{
    padding: 30px;
}
}